body{
    margin:0px;
    padding:0px;
    background-color: rgb(116, 13, 27);
}
*  {
    box-sizing: border-box;

}
ul{
 list-style: none;
}
nav{
    min-height: 60px;
    width: 100%;
    background-color: rgb(51, 6, 6);
    border-top: 1px solid black;
    position: absolute;
    box-shadow: 3px 3px 5px rgb(0,0,0,4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}