<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sytlesheet" href="{{url_for('static', filename = 'css/sytle.css')}}">
    <link rel="preconnect" href="https:fonts.googleapis.com">
    <link rel="icon" href="{{url_for('static', filename = 'img/logo.png')}} " >
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title> News Website</title>
</head>
<body>
    <nav>
 <a href="/" class="logo"> <h2> News Headlines</h2></a>    
<ul class="menu">
    <li class="nav-items"> <a href="/"> Home</a></li>
    <li class="nav-items"> <a href="/">  News</a></li>
    <li class="nav-items"> <a href="/">  blogs</a></li>


</ul>
</nav>

<section id="main">
    <div class="banner"> <img src="breaking_news.png" alt="">

    </div>
    <div class="head"> Todays top news headlines</div>

</section>



</body>
</html>