{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Content block -->
{% block content %}
<div class="container">

    <!-- latest news -->
    <div class="row">
        <h3> Latest News</h3>
        <ul>
            {{ macro.displayNewsList(latest)}}
        </ul>
    </div>
    <!-- Ubreaking news  -->
    <div class="row">

        <h3> Breaking News </h3>
        <ul>
            {{ macro.displayNewsList(breaking)}}
        </ul>
    </div>

    <!-- Now showing news -->
    <div class="row">

        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayNewsList(now_showing)}}
        </ul>
    </div>

</div>
{% endblock%}



