{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{news:id;}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ news.title }}</h3>

            <p class="name"> {{<news class="name"></news> }}</p>
            <p class="description"> <b> {{ news.description}}</b> - <i>{{ news.url}} description </i> </p>
            <p class="category"> <b> {{news.category}} </b> - <i> {{ news.langauge}} category</i></p>
            <p class="country"> {{news.country}} country </p>


        </div>
    </div>

</div>
{% endblock %}


<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
    <h3>{{ news.title }}</h3>

    <p class="name"> {{ news.name }}</p>

    <p class="langauge"> <b> {{ news.language }}</b> - <i>{{ news.langauge}} language </i> </p>
    <a class=" category" href="/news/source/new/{{news.id}}"> Search for a n new source </a>

</div>